Database_url = postgresql://neondb_owner:npg_dRSKPWAhHF30@ep-empty-dream-aofrocim.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
SECRET_KEY=0de53dabd343549b004852139021efa803f23c579dcbcc932a4161703f9dd1a4
MONITORING_API_KEY=monitor-secret-key-2024
